@page
@using LataPrzestepne.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <div class="form-group">
            <label asp-for="Osoba.Rok"></label>
            <input asp-for="Osoba.Rok" /><br />
            <span asp-validation-for="Osoba.Rok" class="text-danger"></span>
         </div>
         <div class="form-group">
            <label asp-for="Osoba.Imie"></label>
            <input asp-for="Osoba.Imie" /><br />
            <span asp-validation-for="Osoba.Imie" class="text-danger"></span>
         </div>
        <button type="submit">Zatwierdź</button>
    </form>
   
   

    @TempData["Results"]
</div>
