@page
@using LataPrzestepne.Models;
@model LataPrzestepne.Pages.ZapisaneModel
@{
    ViewData["Title"] = "Data in session";
}
<p>Dane zapisane w sesji</p>

@foreach (var item in Model.Osoby)
        {
            <span>
                @item.Name, @item.Year - rok

                @if (@item.RokPrzestepny())
                {
                    <span>przestępny</span>
                }
                else
                {
                    <span>nieprzestępny</span>
                }

            </span>
            <br />
        }


